button {
    border: none;
    box-shadow: 1px 1px 1px #d8d8d8, -1px -1px 1px #d8d8d8;
    background-color: white;
    border-radius: 2px;
    padding: 0 20px;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
}

li button {
    margin-left: 20px;
    font-size: 10px;
}